/*Main--------------------------------------------------------------------------------------------------------*/
body{
    background-color: #AAF0C1;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper {
    display: grid;
    grid-template-columns: 30% 20%;
    grid-template-rows: 19% 21% 21% 10%;
}
/*header------------------------------------------------------------------------------------------------------*/
.headwrapper{    
    display: grid;
    grid-template-columns: 20%;
}
.headtext{
    grid-column-start: 1;
    grid-column-end: 5;
    margin-top: 50px;
}
.headlogo{
    grid-column-start: 5;
    grid-column-end: 6;
}
header{
    color: aliceblue;
    text-align: center;
    line-height: .9;
}
header div h1{
    margin: 0;
    text-shadow:5px 1px 10px #AAF0C1;
    font-size: 50px;
}
.boxhead {
    --size: 55px;
    --p: 5px;
    --R: 55px /*sqrt(var(--size)*var(--size) + var(--p)*var(--p))*/;
    
    height: 400px;
  
    -webkit-mask:
      radial-gradient(var(--R) at 50% calc(100% - (var(--size) + var(--p))),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--R) at 50% calc(100% + var(--p)),#0000 99%,red 101%) 50% calc(100% - var(--size))/calc(4*var(--size)) 100% repeat-x;
    background:rgb(102, 134, 47);  
    border: none;
  }
/*Side nav----------------------------------------------------------------------------------------------------*/
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
ul {                           
    text-align: center;                    
    list-style: none;                   
}
     ul li {                                
     font: bold 12px/18px sans-serif; 
     display: inline-block;            
     position: relative;                
     padding: 15px 20px;  
     border-radius: 20px;         
     background: #0a6a22;             
     cursor: pointer;                 
     margin-bottom: 15px;
     color: aliceblue;
}
ul li:hover {                       
     background: #9e206d;             
     color: aliceblue; 
}
ul li ul {                            
     padding: 0;                       
     position: absolute;             
     top: 48px;                        
     left: -10000px;                 
     width: 150px;                  
}
ul li ul li {                        
     background: #9e206d;          
     display: block;                 
     color: aliceblue;                  
     margin-top: 1px;
}
ul li ul li:hover { background: #0a6a22; 
} 
ul li:hover ul {                 
     display: block;               
     left :0px;                       
}
/*column 1---------------------------------------------------------------------------------------------------*/
.text{
    grid-column-start: 1;
    grid-column-end: 8;
    padding: 50px;
}
.faceimg{
    grid-column-start: 8;
    grid-column-end: 10;
}
#face{
    border-radius: 25px;
    width: auto;
    height: 400px;
    margin: 10px;
}
/*column 2---------------------------------------------------------------------------------------------------*/
.logo{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: pink;
    padding: 50px;
    border-radius: 25px;
    margin-left: 50px;
}
.logo-photo{
    grid-column-start: 7;
    grid-column-end: 10;
}
#cloud{
    border-radius: 25px;
    width: 600px;
    height: auto;
    margin: 10px;
}
/*column 3---------------------------------------------------------------------------------------------------*/
.Illustrations{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: pink;
    padding: 50px;
    border-radius: 25px;
    margin-left: 50px;
}
.Illusration-photos{
    grid-column-start: 7;
    grid-column-end: 10;
}
#wine{
    margin: 10px;
    border-radius: 50px ;
    width: 400px;
    height: auto;
}
/*column 4---------------------------------------------------------------------------------------------------*/
.Miss{
    grid-column-start: 1;
    grid-column-end: 7;
    background-color: pink;
    padding: 50px;
    border-radius: 25px;
    margin-left: 50px;
}
.Miss-photos{
    grid-column-start: 7;
    grid-column-end: 9;
}
#mushgirl{
    margin: 10px;
    border-radius: 50px ;
    height: auto;
    width: 400px;
    padding-top: 10px;
}
img{
    margin: 5px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 25px;
    margin-top: 500px;
}
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 34%;
    padding: 0 10px;
  }
  
  .column img {
    margin-top: 5px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 700px) {
    .column {
      flex: 50%;
      max-width: 40%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 90%;
    }
  }

main div{
    display: grid;
    place-items: center;
    row-gap: 15%;
}
/*footer---------------------------------------------------------------------*/
footer{
    position: relative;
    margin-top: 20%;
    width: 100%;
    bottom: 0;

}
footer div{
    text-align: center;
    padding-top: 5%;
}
.box {
    --size: 55px;
    --p: 5px;
    
    height: 60vh;
    width: 100%;

    background:
      radial-gradient(var(--size) at 60% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100% no-repeat,
      radial-gradient(var(--size) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% no-repeat;
  }
.box + .box {
    background-repeat: repeat-x;
  }
.box.mask {
    -webkit-mask:
      radial-gradient(var(--size) at 50% calc(var(--size) + var(--p)),blue 99%,#0000 101%) calc(50% - 2*var(--size)) 0/calc(4*var(--size)) 100%,
      radial-gradient(var(--size) at 50% calc(-1*var(--p)),#0000 99%,red 101%) 50% var(--size)/calc(4*var(--size)) 100% repeat-x;
    background:pink;  

  }
  /*Text*/
H2{
    color: #0a6a22;
    font-size: 100px;
    text-decoration: underline wavy 5px;
  }
h3{
    color: rgb(180, 24, 50);
    font-size: 50px;
}
b{
    font-size: 50px;
    color: rgb(180, 24, 50);
  }
p{
    font-size: 25px;
    text-align: center;
}